.wrapper {max-width: 720px; margin: 0 auto; height: 5000px;}
a:link, a:visited, a:hover, a:active {color: inherit;}

.bans {width: 100%; position: relative; overflow: hidden;}
#bans1 .ban-wrap {position: relative; display: flex;}
#bans2 .ban-wrap {position: relative;}
#bans1 .ban {flex: 100% 0 0;}

.bt-page {color: #fff; opacity: 0.3; transition: all 0.5s; font-size: 100px; line-height: 100px; position: absolute; top: calc(50% - 50px); cursor:pointer;}
.bt-page:hover {opacity: 1; text-shadow: 0 0 10px rgba(0,0,0,0.3);}
.prev {left: 20px;}
.next {right: 20px;}
.pagers {position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center; font-size: 24px; color: #fff; cursor: pointer;}
.pager {padding: 4px;}
.pager.active {color: tomato;}
