.wrapper {width: 1000px; margin: 0 auto;}
a:link, a:visited, a:hover, a:active {color: inherit;}

.header-wrap {width: 100%; height: 100px; display: flex; justify-content: space-between; align-items: center; background-color: #eee; position: relative;}
.logo {width: 100px; text-align: center;}
.navi-wrap {display: flex;}
.navi {width: 120px; height: 60px; line-height: 60px; text-align: center;}
.sub-wrap {width: 100%; text-align: center; color: #fff; background-color: rgba(0,0,0,0.5); position: absolute; top: 80px; left: 0; display: none;}
.sub-wrap > .sub {width: 120px; float: right;}
.sub > div {padding: 12px;}


.banner-wrap {width: 100%; height: 300px;}
.cont-wrap {width: 100%; height: 300px;}
.footer-wrap {width: 100%; height: 100px;}